.forgotPassword {
    background-color: 'white';
    background-image: url('../assets/bgimage.png');
    background-size: cover;
    height: 100vh;
    object-fit: cover;
    display: flex;

    .form {
        position: relative;
        width: 30%;
        margin: auto;
        padding: auto;
        text-align: center;
        background-color: white;
        border-radius: 6%;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .logo {
        width: 30%;
        margin-bottom: 5%;
    }

    .title {
        font-weight: 'bold';
        margin-top: 3%;
    }

    .formInformation {
        max-width: 90%;
        margin: auto;

        // background-color: aqua;
        .heading {
            font-size: 15px;
            font-weight: 600;
            display: block;
            text-align: center;
        }

        .enterCnicHeading {
            font-size: 13px;
            color: black;
            font-weight: 600;
            display: block;
            text-align: left;
            margin-top: 2%;
        }

        .statement {
            font-size: 9.5px;
            color: grey;
            font-weight: 600;
            margin-top: 2%;
            display: block;
            text-align: left;
            // margin-left: 10%;
        }

        .imageLabel {
            flex-direction: row;
            display: flex;
            width: 40%;
            margin-left: 1%;
            margin-top: 3%;

            .icon {
                width: 8%;
                height: 3%;
                margin-top: 5%;
            }

            .label {
                font-size: 12px;
                font-weight: 600;
                margin-top: 2%;
                margin-left: 4%;
            }
        }

        .textfield {
            height: 10%;
            margin-top: 1%;
            background-color: #EAEFF5;

            .MuiInputBase-input {
                font-size: small;
            }
        }
    }
}